*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: open-sans-r;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-b;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: open-sans-r, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.header-wrapper{
  max-width: 1200px;
  margin: auto;
}
.header {
  padding: 25px 248px 124px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  padding: 30px 0;
  margin-bottom: 60px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}
.menu, .logotip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  margin: 0;
  box-sizing: border-box;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-list-item:not(:first-child) {
  margin-left: 20px;
}
.menu a {
   text-decoration: none;
   color: #ffffff;
   font-size: 13px;
   text-transform: uppercase;
  }
.title {
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 128px 0;
}
.page {
  margin-top: 60px;
}
.page-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.trends-top {
 text-align: center;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-hight: 1.3; 
  margin-bottom: 0;  
}
.trends-top::after {
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 65px;
  height: 5px;
  background: #b59f5b;
}

.trends{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}
.trend{
  width: 24.8%;
}
.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.tren::after {
  background-image: url("images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trendb::after {
  background-image: url("images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trendc {
  background-image: url("images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trend4 {
  background-image: url("images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trend:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
  }
.trend {
  height: 320px;
  position: relative;
  z-index: 0;
  }

.trend-teg {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.trend-teg-item {
  margin-right: 20px;
}
.trend-teg-link {
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}
.trend-link {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.trend-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 36px 32px;
  align-items: flex-end;
}
.main {
  width: 780px;
}
.news:not(:first-child) {
  margin-top: 60px;
}
.img, .wimg {
  display: block;
}
.tegs {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.tegs-item {
  margin-right: 20px;
}
.tegs-link {
  text-decoration: none;
   font-family: open-sans-b, sans-serif;
   text-transform: uppercase;
   color: #b59f5b;
   font-size: 15px;
}
a {
  text-decoration: none;
  color: #0f0d0e;
}
.news-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 40px;
}
.date {
  font-size: 12px;
  margin-rigth: 10px;
  color: #888888;
}
.author {
  font-size: 12px;
  font-family: open-sans-b, sans-serif;
  color: #000000;
}
.content {
   margin-top: 50px;
}
.content > p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}
.content > p:not(:first-child) {
  margin-top: 20px;
}
.news-text {
  margin-left: 30px;
}
.news, .wnews{
  display: flex;
}
.news-title {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-hight: 1.3;
  margin-top: 10px;
  margin-bottom: 0;
}
.aside-item:not(:first-child) {
  margin-top: 60px;
}
.aside {
  width: 270px;
}
.right-one {
  text-align: center;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-hight: 1.3; 
  margin-bottom: 0; 
}
.right-one::after {
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 65px;
  height: 5px;
  background: #b59f5b;
}
.wnews-text a {
  text-decoration: none;
  color: #000000;
}
.wnews-text .date{
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  opacity: 0.6;
}
.wnews-text{
  margin-left: 20px;
}
.wnews{
  margin-top: 20px;
}
.search {
  margin-top: 60px;
  display: flex;
  width: 100px;
}
.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.search-button {
  border: none;
  width: 50px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  background-color: #b59f5b;
}
.input-field {
  box-sizing: border-box;
  padding-left: 20px;
  width: 225px;
  height: 50px;
  font-size: 15px;
  border: none;
  background-color: #f4f7f6;
}
.mailing-button {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  height: 50px;
  border: none;
  width: 100px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 12px;
  padding-left: 20px;
  width: 225px;
  font-size: 15px;
}
.mailing-field {
  box-sizing: border-box;
  padding-left: 20px;
  width: 225px;
  height: 50px;
  font-size: 15px;
  border: none;
  background-color: #f4f7f6;
  margin-top: 30px;
}
.list-tegs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.list-tegs-item {
  margin: 30px 5px 0 5px;
  font-weight: 700;
}
.list-tegs-link {
  hight: 30px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  padding: 7px 10px;
  border: 3px solid #f4f3f1;
  font-size: 12px;
  color: #0f0d0e;
}
.list-topics {
  list-style: none;
}
.list-topics-item {
  margin-top: 15px;
  margin-left: 3px;
}
.list-topics-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  padding-right: 5px;
  font-size: 15px;
}
.list-topics-item::after{
  content:"";
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100px;
  height: 1px;
  background: #eeeeee;
}
.list-topics-count{
  display: inline-block;
  vertical-align: top;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #b59f5b;
}
.shop-bottom {
 text-align: center;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-hight: 1.3; 
  margin-bottom: 0;  
}
.shop-bottom::after {
  content:"";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 65px;
  height: 5px;
  background: #b59f5b;
}
.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}
.product {
  width: 33%;
}
.product::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #696969;
  z-index: -1;
}
.prod::after {
  background-image: url(https://github.com/netology-code/mq-diploma/blob/master/sources/img/shop-item-desk1.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.prodb::after {
  background-image: url(https://github.com/netology-code/mq-diploma/blob/master/sources/img/shop-item-desk2.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.prodc {
  background-image: url(https://github.com/netology-code/mq-diploma/blob/master/sources/img/shop-item-desk3.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.product:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 3px;
  }
.product {
  height: 320px;
  position: relative;
  z-index: 0;
  }

.product-link {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 37px;
}
.product-text {
  width: 90%;
  border: 3px solid #b59f5b;
  padding: 36px 32px;
  align-items: flex-end;
}
.shop-button {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
  height: 40px;
  border: none;
  width: 100px;
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 20px;
  padding-left: 20px;
  width: 200px;
  font-size: 15px;
}
.footer {
  margin-top: 60px;
}
.footer-address {
  padding: 30px 0;
  margin-bottom: 20px;
  background-color: #f4f7f6;
}
.footer-list{
  list-style: none;
  display: flex;
  justify-content: center;  
}
.footer-wrapper{
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}
.prilogenie {
  display: block;
  width: 20px;
  height: 20px;
  padding: 30px 15px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
.twitter{  
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.pinterest{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}
.facebook{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}
.instagram{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}
.tumblr{
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}
.copyright {
  text-decoration: none;
  font-family: open-sans sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  color: #999999;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .trend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 360px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .trend {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  .product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
  .usual {
    text-decoration: line-through;
    font-size: 12px;
  }